.word-container{
    display: flex;
    gap: .25rem;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.word{
    border-bottom: .1em solid #646cff;
}

@media(max-width: 800px) {
    .word-container {
        margin: 0 1rem;
        padding:  0 2rem;
        font-size: 4rem;
    }

}